.header_container {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 17px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    position: absolute;
    top: 15px;
    z-index: 1000;
    margin: 0 auto;
    left: 100px;

}
.header_links {
    width: 40%;
    font-weight: bold;
}
.abyssinia_logo img {
    width: 100px;
}
.header_links ul {
    display: flex;
    justify-content: space-between;
}
.header_links ul {
    list-style: none;
}
.header_links ul li {
    background-color: #f7f7f7c4;
    padding: 6px 14px;
    border-radius: 15px;
    cursor: pointer;
}
.header_links ul li:hover {
    background-color: #63c0e8;
    color: #fff;
}