.landingBgContainer {
    max-width: 100vw;
    height: 104vh;
    background: url('../../../assets/Images/view-3d-young-school-student-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.aby_text {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 83%;
    left: 22%;
}
.visible {
    display: inline;
    padding-left: 4px;
}
.landingBgContainer span {
    width: 150px;
    color: #fff;
    border-radius: 5px;
}
.hidden {
    display: none;
}
body {
    height: 1000px;
}